/*----------------- Start Variables -----------------*/
:root {
    --main-color: #2C2E43;
}
/*----------------- End Variables -----------------*/

/*----------------- Start Global Rules -----------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   }
     /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/*----------------- End Global Rules -----------------*/

/*----------------- Start Header -----------------*/
.header {
    padding: 10px;
    background-color: var(--main-color);
    box-shadow: 0px 1px 10px #000000b5;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo {
    font-size: 25px;
    font-family: 'Courgette', cursive;
}
.header .container .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lora', serif;
    position: relative;
}
.header .container .nav a:hover {
    color: rgb(158, 157, 157);
}
@media (max-width: 760px) {
    .header .container .nav {
        display: none;
    }
    .header .right-side a i {
        display: inline;
    }
}
@media (max-width: 504px) {
    .header .container .logo {
        font-size: 18px;
    }
    .header .search-box input[type=text] {
        width: 127px;
        height: 20px;
    }
}
.header .container a {
    color: white;
    text-decoration: none;
    padding-right: 33px;
}
@media (max-width: 407px) {
    .header .right-side a i {
        padding-right: 0;
    }
}
.header .nav .category ul a {
    color: var(--main-color);
}
.header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    left: -8px;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    box-shadow: 0px 3px 5px #979797d1;
}
.header .category::before {
    content: "";
    border-width: 4px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    position: absolute;
    left: 62px;
    top: 7px;
}
.header .category::after {
    content: "";
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    left: 13px;
    bottom: -16px;
    display: none;
}
.header .category:hover::after {
    display: block;
}
.header .category:hover ul {
    display: block;
}
.header ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.header ul li a:hover {
    padding-left: 25px ;
}

/*-- Search box --*/
.header .search-box i {
    cursor: pointer;
    position: relative;
    right: 35px;
    color: var(--main-color);
}
.header .search-box input[type=text] {
    padding: 5px;
    border: none;
    border-radius: 13px;
  }
.header .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .right-side a i {
    color: white;
    display: none;
}
@media (max-width: 760px) {
    .header .right-side a i {
        display: inline;
    }
    .header .container .right-side a {
        padding: 0px 0px 0px 24px;
    } 
}
@media (max-width: 407px) {
    .header .search-box {
        display: none;
    }
    .header .right-side a:first-of-type {
        display: none;
    }
}

/* -------------- Start Landing --------------------- */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
  }
.landing .text {
    top: 191px;
    left: 193px;
    position: absolute;
    color: white;
}
.landing h1 {
    font-family: 'Courgette', cursive;
    font-size: 40px;
}
.landing p {
    font-size: 26px;
}
@media (max-width: 760px) {
    .landing .text {
        text-align: center;
        left: 5%;
    }
}
.landing button {
    width: 107px;
    height: 32px;
    border-radius: 17px;
    border-style: none;
}
.landing button a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}
.landing img {
    bottom: 0px;
    position: absolute;
}

/* -------------- End Landing --------------------- */

/*-------------- The Best Section --------------*/
.the-best {
    background-color: var(--main-color);
    background-image: linear-gradient(to bottom, var(--main-color) 60%, #464964 80%,  white);
    position: relative;
    top: -26px;
}

.the-best p {
    color: #ffffff8c;
    text-align: center;
    font-size: 25px;
    padding: 25px;
}
.the-best .pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.the-best .pic img {
    padding: 5px;
    border-radius: 15px;
    transition: 1s;
}
.the-best .pic img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
 @media (max-width: 395px) {
    .the-best .pic img {
        width: 90%;
    }
} 
/*-------------- End The Best Section --------------*/

/* ------------------ Get The App ------------------ */
.get-app {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 60px;
    align-items: center;
    justify-content: space-around;
}
.get-app-p {
    padding-bottom: 50px;
}
.get-app-p h2 {
    font-size: 35px;
}
.get-app-p p {
    font-size: 20px;
}
.get-app-p .badge {
    display: flex;
    align-items: center;
}
     /* Small */
     @media (max-width: 768px) {
        .get-app-p {
            text-align: center;
        }
        .get-app-p .badge {
            justify-content: center;
        }
      }
      @media (max-width: 476px) {
        .git-app-pic img {
            display: none;
        }
        .get-app-p p {
            font-size: 15px;
        }
      }
      /* Medium */
      @media (min-width: 992px) {
        .get-app-p p {
            font-size: 15px;
        }
        .get-app-p h2 {
            font-size: 30px;
        }
        .git-app-pic img {
            width: 300px;
        }
      }
      /* Large */
      @media (min-width: 1200px) {
        .get-app-p p {
            font-size: 20px;
        }
        .get-app-p h2 {
            font-size: 35px;
        }
      }
/* ------------------ End Get The App ------------------ */

/* ---------------------- Start Vedio ---------------------- */
.video {
    position: relative;
  }
  .video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
  }
  .video video {
    width: 100%;
  }
  .video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    color: white;
    font-size: 25px;
    text-align: center;
  }
  @media (max-width: 590px) {
    .video .text {
        font-size: 15px;
    }
  }
  @media (max-width: 400px) {
    .video .text {
        font-size: 10px;
    }
  }
  @media (max-width: 935px) {
    .video {
        display: flex;
        justify-content: center;
      }
  }
  .video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .video .text i {
    font-size: 70px;
    padding-bottom: 30px;
  }
  .video .text button {
    background-color: var(--main-color);
    border-radius: 23px;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
  }
/* ---------------------- End Vedio ---------------------- */

/* -------------------- Last Section -------------------- */
.join-today {
    padding-top: 110px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.join-mod {
    position: relative;
}
.join-mod img {
    border-radius: 10px;
    box-shadow: 3px 3px 6px 1px #6b6b6ba1;
}
.join-mod img:nth-child(2) {
    position: absolute;
    left: 158px;
    top: 165px;
}
.join-p {
    text-align: center;
}
.join-p p {
    font-size: 35px;
    font-weight: bold;
}
.join-p button {
    width: 107px;
    height: 32px;
    border-radius: 17px;
    border-style: none;
    background-color: var(--main-color);
}
.join-p button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
@media (max-width: 992px) {
    .join-today {
        flex-direction: column-reverse;
    }
    .join-p {
        padding-bottom: 75px;
    }
}
@media (max-width: 476px) {
    .join-mod img {
        width: 150px;
    }
    .join-mod img:nth-child(2) {
        left: 100px;
        top: 131px;
    }
    .join-mod {
        left: -40px;
    }
}
/* ------------------- End Last Section --------------------> */

/* ---------------------- Start Footer ---------------------- */
.footer {
    background-color: var(--main-color);
    height: 65px;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-p {
    display: flex;
    align-items: center;
}
.footer .footer-p p {
    padding-right: 30px;
    padding-left: 5px;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}
.footer-icon i {
    color: white;
}
/* ---------------------- Start Footer ---------------------- */
